# PostgreSQL
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db

# MinIO
MINIO_ROOT_USER=your_minio_user
MINIO_ROOT_PASSWORD=your_minio_password

# Airflow
AIRFLOW_ADMIN_USERNAME=your_airflow_username
AIRFLOW_ADMIN_PASSWORD=your_airflow_password
AIRFLOW_ADMIN_EMAIL=your_email@example.com
AIRFLOW_FERNET_KEY=your_fernet_key

# OpenWeatherMap
OPENWEATHER_API_KEY=your_openweather_api_key
OPENWEATHER_CITY=New York
OPENWEATHER_UNITS=metric
WEATHER_RAW_PATH=data_lake/weather/raw
WEATHER_POLL_INTERVAL_SECONDS=3600

# Spark
SPARK_WORKER_MEMORY=2G
SPARK_WORKER_CORES=2